
# Created by https://www.gitignore.io/api/code
# Edit at https://www.gitignore.io/?templates=code

### Code ###
.vscode/*
node_modules/
.travis.yml
.stylelintrc.json
.gitignore
.eslintrc
.editorconfig
.codeclimate.yml
package.json,
package-lock.json
sd-05-live-lectures/

# End of https://www.gitignore.io/api/code
