/* Help all three frogs find their lilypads just by using justify-content. 
This time, the lilypads have lots of space all around them.

flex-start: Items align to the left side of the container.
flex-end: Items align to the right side of the container.
center: Items align at the center of the container.
space-between: Items display with equal spacing between them.
space-around: Items display with equal spacing around them.

If you find yourself forgetting the possible values for a property, 
you can hover over the property name to view them. Try hovering over justify-content.
*/
#pond {
  display: flex;
justify-content: space-around
}
