.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8b8b8a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
    background-color: #464547;
    width: 100%;
    margin: 0;
}

.pokedexTable {
  background-color: #464547;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
}
.top {
  width: 100%;
  height: 150px;
  font-size: 40px;
  color: #fff;
}
.pokemonCard {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(235, 243, 125);
  border: 1px solid rgba(0,0,0,.25);
  border-radius: .25rem;
  margin: 1rem;
  min-width: 20rem;
  height: 22em;

}

.creatureInfo {
  position: relative;
  display: block;
  flex: 1 auto;
  padding: 1rem;
  bottom: 40px;
  text-align: center;
  height: 10em;
}

.avatarPokemon {
  background-color: #fff;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;  
  border: 1px solid rgba(0,0,0,.25);
  height: 10em;
}

img{
  height: 110px;
}

.button{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: .375rem .95rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  text-decoration: none;
  height: vh;
}


.creatureInfo h1{
  font-family: cursive ;
  font-size: 3em;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
